Source: dpkg-general-example
Priority: optional
Maintainer: ladianchad
Build-Depends: build-essential, debhelper (>= 9)

Package: dpkg-general-example
Description: dpkg general example
Homepage: https://github.com/ladianchad
Architecture: arm64
#Depends: @DEPENDENCIES