{{> header}}
<h1 style="width=100%; height=auto; margin=auto; align-items=center;">{{comment}}</h1>
<h2>Entity</h2>
<p> - {{entity}}</p>
<p>
    <a href="/api">API Documents</a>
</p>
<p>
    <a href="/devices">Device lists</a>
    <!--
        react로 redircet 할 예정
       <a href="/devices">Device lists</a>
    -->
</p>
{{> footer}}
